<mat-drawer-container class="dashboard-container" autosize>
  <!-- Side Menu Drawer -->
  <mat-drawer #drawer class="dashboard-drawer" mode="side" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <app-menu></app-menu> <!-- Menu Component -->
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content>
    <app-header (toggleMenu)="drawer.toggle()">
      
    </app-header> <!-- Header Component -->
    
    <!-- Grid Content Area -->
    <div class="dashboard-content">
      <div class="card">Card 1 </div>
      <div class="card">Card 2</div>
      <div class="card">Card 3</div>
      <div class="card">Card 4</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<router-outlet></router-outlet> <!-- StoreModule components will be displayed here -->


