/* Add application styles & imports to this file! */


body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  flex-direction: row;
  -ms-overflow-style: scrollbar;
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  border: 5px solid red;
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {

  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Handle color */
  border-radius: 10px; /* Rounded corners on the scrollbar handle */
  border: 3px solid #f1f1f1; /* Adds a border for separation */
}

::-webkit-scrollbar-thumb:hover {
    
  border: 5px solid red;
  background-color: #555; /* Darker handle when hovered */
  
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin; /* Set the scrollbar width to thin */
  scrollbar-color: #888 #555; /* Handle color and track color */
}

 